body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #bda34c9f;
    margin: 0;
    color: azure;
}

.section {
    width: 100%;

}

.item-1 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: linear-gradient(rgb(255, 238, 0), rgb(255, 208, 0), rgb(255, 187, 0), rgb(255, 136, 0));
    box-shadow: 2px 2px 8px -1px rgb(85, 82, 82);
    position: absolute;
    top: 270px;
    left: 700px;
    z-index: -10;
}

.item-2 {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-image: linear-gradient(rgb(255, 238, 0), rgb(255, 208, 0), rgb(255, 187, 0), rgb(255, 136, 0));
    box-shadow: 2px 2px 8px -1px rgb(85, 82, 82);
    position: absolute;
    top: 200px;
    left: 1000px;
}

.item-3 {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-image: linear-gradient(rgb(255, 238, 0), rgb(255, 208, 0), rgb(255, 187, 0), rgb(255, 136, 0));
    box-shadow: 2px 2px 8px -1px rgb(85, 82, 82);
    position: absolute;
    top: 400px;
    left: 1150px;
    z-index: -10;
}

.item-4 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: linear-gradient(rgb(255, 238, 0), rgb(255, 208, 0), rgb(255, 187, 0), rgb(255, 136, 0));
    box-shadow: 2px 2px 8px -1px rgb(85, 82, 82);
    position: absolute;
    top: 600px;
    left: 600px;
    z-index: -10;
}

.item-5 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: linear-gradient(rgb(255, 238, 0), rgb(255, 208, 0), rgb(255, 187, 0), rgb(255, 136, 0));
    box-shadow: 2px 2px 8px -1px rgb(85, 82, 82);
    position: absolute;
    top: 600px;
    left: 1000px;
    z-index: -10;
}

.center {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 150px;
    backdrop-filter: blur(10px);
}

.top {
    margin-left: 180px;
    padding-top: 1px;
    font-size: 30px;
}

.midd {
    text-align: center;

}

input {
    margin-top: 30px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
}

input::placeholder {
    color: rgba(201, 174, 20, 0.781);
    padding: 10px;
}

button {
    margin: 20px 155px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    transition: all 100ms ease 150ms;
}

button:hover {
    background-color: #ffae00;
    transform: scale(1.2);
    cursor: pointer;
}